.input-text {
  width: min(80% - 1rem, 450px);
  height: 30px;
  margin: auto;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 3px;
  font-size: 18px;
}

.input-form {
  display: flex;
}

.empty-button {
  width: 0;
  height: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
}
